---
export const prerender = false;

import Layout from '../../layouts/Layout.astro';
import PageForm from "../../components/page/PageForm.jsx";

---

<Layout title="New Page">
    <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden">

        <PageForm client:load
          postId=''
          postTitle=''
          publishDate=''
          status=''
          content=''
          action="Create"
        />

    </div>
</Layout>


